<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
</head>

<body itemscope itemtype="https://schema.org/WebPage">
  <a href="#main-content" class="sr-only sr-only-focusable">Skip to main content</a>
  
  <header role="banner">
    {{ partial "header.html" . }}
  </header>
  
  <main id="main-content" role="main">
    {{ block "main" . }}{{ end }}
  </main>
  
  <footer role="contentinfo">
    {{ partial "footer.html" . }}
  </footer>
  
  {{ partial "head/js.html" . }}
</body>

</html>
