:root {
  --primary-color: #007bff; /* Blue */
  --secondary-color: #6c757d; /* Gray */
  --accent-color: #28a745; /* Green */
  --text-color: #343a40; /* Dark Gray */
  --background-color: #f8f9fa; /* Light Gray */
  --header-bg: #ffffff; /* White */
  --footer-bg: #e9ecef; /* Lighter Gray */
  --code-bg: #e9ecef; /* Lighter Gray */
  --border-color: #dee2e6; /* Light Border */
  --link-color: var(--primary-color);
  --link-hover-color: #0056b3;

  --font-family-base: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  --font-family-monospace: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --heading-color: #212529; /* Darker Gray */

  /* Dark Mode Variables */
  --dark-primary-color: #66b3ff;
  --dark-secondary-color: #adb5bd;
  --dark-accent-color: #4cd964;
  --dark-text-color: #e9ecef;
  --dark-background-color: #212529;
  --dark-header-bg: #343a40;
  --dark-footer-bg: #343a40;
  --dark-code-bg: #495057;
  --dark-border-color: #495057;
  --dark-link-color: var(--dark-primary-color);
  --dark-link-hover-color: #3399ff;
  --dark-heading-color: #f8f9fa;
}

/* Dark Mode */
body.dark-mode {
  --primary-color: var(--dark-primary-color);
  --secondary-color: var(--dark-secondary-color);
  --accent-color: var(--dark-accent-color);
  --text-color: var(--dark-text-color);
  --background-color: var(--dark-background-color);
  --header-bg: var(--dark-header-bg);
  --footer-bg: var(--dark-footer-bg);
  --code-bg: var(--dark-code-bg);
  --border-color: var(--dark-border-color);
  --link-color: var(--dark-link-color);
  --link-hover-color: var(--dark-link-hover-color);
  --heading-color: var(--dark-heading-color);
}
