header {
  width: 90%;
}

main {
  width: 90%;
}

footer {
  width: 90%;
}

body {
  font-family: 'Lora', 'Times New Roman', serif;
  font-size: 18px;
  color: #404040;
  position: relative;
  background: #FFF;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.container {
  margin-bottom: 50px;
  flex: 1 0 auto;
}
