{{ define "main" }}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article itemscope itemtype="https://schema.org/Article">
        {{ partial "article/header.html" . }}
        {{ partial "article/metadata.html" . }}
        {{ partial "article/tags.html" . }}
        {{ partial "article/featured-image.html" . }}

        <div class="article-content" itemprop="articleBody">
          {{ .Content }}
        </div>
        
        <footer class="article-footer">
          <!-- Sharing removed as requested -->
        </footer>

        <meta itemprop="wordCount" content="{{ .WordCount }}">
        <meta itemprop="url" content="{{ .Permalink }}">
      </article>
      
      <nav class="article-navigation mt-5" aria-label="Article navigation">
        {{ partial "breadcrumbs.html" . }}
        {{- if .Params.tags }}
          {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        {{- end }}
      </nav>
    </div>
  </div>
</div>
{{ end }}
