{{ define "main" }}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article itemscope itemtype="https://schema.org/Article">
        {{ partial "article/header.html" . }}
        {{ partial "article/featured-image.html" . }}
        {{ partial "article/content.html" . }}
        {{ partial "article/footer.html" . }}

        <!-- Schema.org Metadata -->
        <meta itemprop="wordCount" content="{{ .WordCount }}">
        <meta itemprop="url" content="{{ .Permalink }}">
      </article>
      
      {{ partial "navigation/article-nav.html" . }}
    </div>
  </div>
</div>
{{ end }}
