<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ "/" | relLangURL }}">Home</a></li>
    {{- if not .IsHome }}
      {{- $url := replace .Permalink (printf "%s" .BaseFileName) "" }}
      {{- range .Ancestors.Reverse }}
        {{- if ne .Title "" }}
          <li class="breadcrumb-item"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{- end }}
      {{- end }}
      <li class="breadcrumb-item active" aria-current="page">{{ .Title }}</li>
    {{- end }}
  </ol>
</nav>
  