{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  
  {{- with index site.Menus $menuID }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.BaseURL }}">{{ site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        </div>
      </div>
    </nav>
  {{- end }}
