{{- /*
  Renders a menu for the given menu ID.
  
  @context {page} page The current page.
  @context {string} menuID The menu ID.
  
  @example: {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
  */}}
  
  {{- $page := .page }}
  {{- $menuID := .menuID }}
  
  {{- with index site.Menus $menuID }}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="navbar-brand" style="padding-left: 10px;">{{ site.Title }}</div>
      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">  
        <ul class="navbar-nav ml-auto">
          {{- partial "partials/inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
      </div>
    </nav>
  {{- end }}
  
  {{- define "partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- range .menuEntries }}
      {{- $attrs := dict "href" .URL }}
      {{- if $page.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "class" "nav-link active") }}
      {{- else if $page.HasMenuCurrent .Menu .}}
        {{- $attrs = merge $attrs (dict "class" "nav-link ancestor") }}
      {{- else }}
        {{- $attrs = merge $attrs (dict "class" "nav-link") }}
      {{- end }}
      {{- $name := .Name }}
      {{- with .Identifier }}
        {{- with T . }}
          {{- $name = . }}
        {{- end }}
      {{- end }}
      <li class="nav-item">
        <a {{ $attrs }} href="{{ .URL | absURL }}" class="nav-link"> {{ $name }} </a>
        {{- with .Children }}
          <ul class="navbar-nav">
            {{- partial "partials/inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
          </ul>
        {{- end }}
      </li>
    {{- end }}
  {{- end }}
