{{ define "main" }}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-9">
      <section itemscope itemtype="https://schema.org/Blog">
        <header class="page-header">
          <h1 itemprop="name">Latest Articles</h1>
          {{ if .Content }}
          <div class="page-description lead" itemprop="description">
            {{ .Content }}
          </div>
          {{ end }}
        </header>
        
        <div role="main" aria-label="Blog posts">
          {{ range .Paginator.Pages }}
            {{ partial "article/summary.html" . }}
          {{ end }}
        </div>
        
        {{ if gt .Paginator.TotalPages 1 }}
        <nav aria-label="Blog pagination" class="mt-5">
          {{ template "_internal/pagination.html" . }}
        </nav>
        {{ end }}
      </section>
    </div>
  </div>
</div>
{{ end }}
