{{ define "main" }}
<div class="container">
  <article class="article">
    <header class="article__header">
      {{ if eq .Data.Singular "tag" }}
        <h1>すべてのタグ</h1>
      {{ else if eq .Data.Singular "category" }}
        <h1>すべてのカテゴリ</h1>
      {{ else }}
        <h1>{{ .Title }}</h1>
      {{ end }}
    </header>

    <div class="article__content">
      <ul class="tag-list">
        {{ range .Data.Terms.Alphabetical }}
        <li class="tag-list__item">
          <a href="{{ .Page.Permalink }}" class="tag-list__link">{{ .Page.Title }}</a>
          <span class="tag-list__count">({{ .Count }})</span>
        </li>
        {{ end }}
      </ul>
    </div>
  </article>
</div>
{{ end }}